.main-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0 0;
  font-size: 1rem;
}
.main-menu__button {
  font-size: 2em;
  padding: 1rem 2rem;
  margin: 1rem;
}
.main-menu__title {
  color: white;
  font-family: "Saira Stencil One", sans-serif;
  font-size: 6em;
  padding-bottom: 9rem;
  text-align: center;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.main-menu__layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (orientation: landscape) {
  .main-menu__title {
    font-size: 5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .main-menu__title {
    font-size: 9rem;
    padding-bottom: 9rem;
  }
  .main-menu__button {
    padding: 2rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1400px) {
  .main-menu__title {
    font-size: 13rem;
    padding-bottom: 7rem;
  }
}
.sea-map {
  display: grid;
  background-color: #000000;
  border: 20px solid #494949;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
  /*border of sea map has to have same size as positioning of after pseudoel */
}
.sea-map::after {
  content: "";
  position: absolute;
  inset: 20px 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}
.sea-map__sea-cell {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 1px solid #00e900;
  transition: background-color 0.2s;
}

.shoot-map {
  position: absolute;
  display: grid;
  background-color: black;
  border: 20px solid #494949;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s;
}
.shoot-map::after {
  content: "";
  position: absolute;
  inset: 20px 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}
.shoot-map__shoot-cell {
  opacity: 1;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 1px solid #f4ed34;
}

.ships-display {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: #000000;
}
.ships-display__ships-counter-container {
  border: 1px solid #00e900;
}
.ships-display__ship-counter {
  text-align: center;
  font-size: 1.1em;
  font-family: "Orbitron", sans-serif;
  color: #00e900;
  padding: 1rem;
  transition: opacity 0.4s;
}
.ships-display__ship-counter--hidden {
  opacity: 0;
}
.ships-display__display {
  display: grid;
  grid-template-rows: 1;
  height: 100%;
}
.ships-display__display-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00e900;
}
.ships-display__ship {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 83%;
  height: 24%;
  background-color: #00e900;
  font-size: 1rem;
  color: black;
  -webkit-clip-path: polygon(35% 31%, 65% 31%, 66% 55%, 100% 57%, 63% 83%, 32% 83%, 0 57%, 33% 55%);
          clip-path: polygon(35% 31%, 65% 31%, 66% 55%, 100% 57%, 63% 83%, 32% 83%, 0 57%, 33% 55%);
}
.ships-display__ship--disactive {
  background-color: rgba(0, 233, 0, 0.4);
}
.ships-display__ship--small-game {
  height: 34%;
  margin-top: 5px;
  width: 85%;
}

@media (min-width: 768px) {
  .ships-display__ship {
    width: 60%;
    font-size: 1.1em;
  }
  .ships-display__ship--small-game {
    height: 30%;
    width: 70%;
    margin-top: 10px;
  }
  .ships-display__ship-counter {
    font-size: 2em;
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .ships-display__ship--small-game {
    height: 28%;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .ships-display__ship {
    width: 80%;
    height: 16%;
  }
  .ships-display__ship--small-game {
    width: 60%;
    margin-top: 10px;
  }
  .ships-display__ship-counter {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) and (orientation: portrait) {
  .ships-display__ship {
    height: 20%;
  }
  .ships-display__ship--small-game {
    height: 30%;
    width: 60%;
    margin-top: 10px;
  }
}
@media (min-width: 1400px) {
  .ships-display__ship {
    height: 20%;
  }
  .ships-display__ship--small-game {
    width: 60%;
    margin-top: 20px;
  }
}
.console {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.console__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 90%;
  background-color: #000000;
  border: 10px solid #494949;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
}
.console__text {
  text-align: center;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  color: #00e900;
}

@media (min-width: 768px) {
  .console {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .console {
    font-size: 1.8rem;
  }
}
.steering-panel {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  border: 10px solid #494949;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
}
.steering-panel__shoot-panel {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -110%;
  z-index: 1;
}
.steering-panel__shoot-panel--shown {
  animation: metalPlateFall 1.5s forwards;
}
.steering-panel__placing-panel {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition: transform 0.7s;
}
.steering-panel__placing-panel--hidden {
  transform: translateY(110%);
}
.steering-panel__button {
  width: 70%;
  height: 25%;
  font-size: 0.9em;
  padding: 0.5rem 0.5rem;
}
.steering-panel__button:nth-child(2) {
  margin: 0.8rem 0;
}

@keyframes metalPlateFall {
  0% {
    top: -110%;
  }
  40% {
    top: 0;
  }
  50% {
    top: 10%;
  }
  60% {
    top: 0;
  }
  70% {
    top: 5%;
  }
  80% {
    top: 0;
  }
  90% {
    top: 2%;
  }
  100% {
    top: 0;
  }
}
@media (min-width: 768px) {
  .steering-panel {
    font-size: 1.3rem;
  }
  .steering-panel__button {
    height: 20%;
  }
}
@media (min-width: 996px) {
  .steering-panel__button {
    height: 15%;
    font-size: 1.4em;
  }
  .steering-panel__button:nth-child(2) {
    margin: 30px 0;
  }
  .steering-panel__placing-panel {
    justify-content: center;
  }
}
.main-menu-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 80%;
  max-width: 600px;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  border-radius: 20px;
  font-size: 1rem;
  border: 5px solid #494949;
}
.main-menu-popup__quote {
  font-size: 1.5em;
  padding: 1rem;
  font-family: "Saira Stencil One", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.main-menu-popup__button {
  width: 80px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.rules {
  position: relative;
  background-color: #4e4f50;
  border-radius: 20px;
  border: 10px solid #494949;
  font-size: 1rem;
}
.rules__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1.4rem;
}
.rules__close-button-container {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}
.rules__close-button {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
.rules__cards {
  position: relative;
}
.rules__card {
  position: absolute;
  inset: 0 0;
  transition: opacity 0.3s;
  color: white;
  padding: 2rem;
}
.rules__card--hidden {
  opacity: 0;
}
.rules__card-title {
  font-size: 2em;
  text-align: center;
  padding: 2rem;
  padding-top: 0;
}
.rules__card-text {
  font-size: 1.3em;
}
.rules__arrow-buttons-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}
.rules__arrow-button {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2em;
  padding-top: 1.3rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .rules {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .rules {
    font-size: 1.4rem;
  }
  .rules__button {
    width: 4rem;
    height: 4rem;
  }
  .rules__close-button-container {
    height: 8%;
  }
  .rules__arrow-button {
    padding-top: 1.2rem;
    padding-bottom: 1.8rem;
  }
  .rules__card-text {
    font-size: 1.1em;
    padding: 4rem;
    padding-top: 1rem;
  }
}
.border-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
  font-size: 0.8em;
}

.blink {
  background-color: lime;
}

.ship {
  background-color: lime;
}

.sunk {
  background-color: rgba(0, 233, 0, 0.4);
}

.blink-red {
  background-color: #ff3131;
}

.shoot-target {
  position: relative;
  background-color: transparent;
  pointer-events: none;
}
.shoot-target::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/svg/cross-small-svgrepo-com.svg");
  background-size: contain;
  opacity: 0;
  animation: fadeInCross 0.2s forwards;
}

.shoot-target-hover {
  background-color: #f4ed34;
}

.hit::before {
  animation: none;
  animation: fadeInCircle 0.25s forwards;
}

.non-clickable {
  pointer-events: none;
}

.shot {
  border: 1px solid #00e900;
  animation: blink 1.5s forwards;
}

@keyframes blink {
  0% {
    border: 1px solid #00e900;
  }
  14% {
    border: 3px solid #00e900;
  }
  29% {
    border: 3px solid #ff3131;
  }
  43% {
    border: 3px solid #00e900;
  }
  57% {
    border: 3px solid #ff3131;
  }
  71% {
    border: 3px solid #00e900;
  }
  86% {
    border: 3px solid #ff3131;
  }
  100% {
    border: 3px solid #00e900;
  }
}
@keyframes fadeInCross {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInCircle {
  0% {
    opacity: 0;
    background-image: url("../img/svg/cross-small-svgrepo-com.svg");
  }
  100% {
    opacity: 1;
    background-image: url("../img/svg/cross-circle-svgrepo-com.svg");
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.menu-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  z-index: 1;
}

.game-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 18%;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
}
.game-container__map-container {
  grid-area: 1/1/3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-container__sea-map {
  position: absolute;
}
.game-container__shoot-map {
  position: absolute;
}
.game-container__console {
  grid-area: 4/1/5/4;
}
.game-container__ships-display {
  grid-area: 3/1/4/3;
  justify-self: center;
  width: 90%;
}
.game-container__steering-panel {
  grid-area: 3/3/4/4;
  width: 96%;
}

.popup-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: opacity 0.5s;
  z-index: 10;
}
.popup-container--hidden {
  opacity: 0;
  pointer-events: none;
}

.rules-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
  transition: opacity 0.5s;
}
.rules-container--hidden {
  display: none;
}
.rules-container__rules {
  width: 90%;
  height: 95%;
}

.warships-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Saira Stencil One", sans-serif;
  color: #fff;
  background-color: #4a4a4a;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.warships-button:hover {
  background-color: #333;
  border: 2px solid #222;
}
.warships-button:disabled {
  background-color: #666;
  border: 2px solid #444;
  color: #999;
  cursor: not-allowed;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
}

.hidden {
  visibility: hidden;
  display: none;
}

.fade-in::after {
  animation: fadeIn 0.3s forwards;
}

.fade-out::after {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (orientation: landscape) {
  .game-container {
    grid-template-rows: repeat(4, 1fr);
    border-left: 10px solid #494949;
  }
  .game-container__map-container {
    grid-area: 1/1/4/3;
  }
  .game-container__ships-display {
    width: 100%;
    grid-area: 1/3/3/4;
    border: 10px solid #494949;
    border-bottom: 0px;
  }
  .game-container__console {
    grid-area: 4/1/5/3;
  }
  .game-container__steering-panel {
    width: 100%;
    grid-area: 3/3/5/4;
    border-radius: 0;
  }
}
@media (min-width: 576px) {
  .rules-container__rules {
    width: 98%;
    height: 95%;
  }
}
@media (min-width: 768px) {
  .rules-container__rules {
    width: 98%;
    height: 60%;
    max-height: 550px;
    max-width: 1024px;
  }
}/*# sourceMappingURL=main.css.map */