$main-green: #00e900;
$off-green: lime;
$transparent-green: rgba(0, 233, 0, 0.4);
$main-red: #ff3131;
$main-gold: #f4ed34;
$main-black: #000000;
$metal-grey: #494949;
$metal-gradient: linear-gradient(147deg, #000000 0%, #434343 74%);
