@use "index" as i;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: i.$metal-gradient;
}

// CONTAINERS
.menu-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  z-index: 1;
}

.game-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 18%;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;

  &__map-container {
    grid-area: 1/1/3/4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sea-map {
    position: absolute;
  }

  &__shoot-map {
    position: absolute;
  }

  &__console {
    grid-area: 4/1/5/4;
  }

  &__ships-display {
    grid-area: 3/1/4/3;
    justify-self: center;
    width: 90%;
  }

  &__steering-panel {
    grid-area: 3/3/4/4;
    width: 96%;
  }
}

.popup-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  transition: opacity 0.5s;
  z-index: 10;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.rules-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0 0;
  backdrop-filter: blur(5px);
  z-index: 2;
  transition: opacity 0.5s;

  &--hidden {
    display: none;
  }

  &__rules {
    width: 90%;
    height: 95%;
  }
}

//GLOBAL CLASSES

.warships-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Saira Stencil One", sans-serif;
  color: #fff;
  background-color: #4a4a4a;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;

  &:hover {
    background-color: #333;
    border: 2px solid #222;
  }

  &:disabled {
    background-color: #666;
    border: 2px solid #444;
    color: #999;
    cursor: not-allowed;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

//classes made for animating map change
.fade-in {
  &::after {
    animation: fadeIn 0.3s forwards;
  }
}

.fade-out {
  &::after {
    animation: fadeOut 0.3s forwards;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (orientation: landscape) {
  .game-container {
    grid-template-rows: repeat(4, 1fr);
    border-left: 10px solid i.$metal-grey;

    &__map-container {
      grid-area: 1/1/4/3;
    }

    &__ships-display {
      width: 100%;
      grid-area: 1/3/3/4;
      border: 10px solid i.$metal-grey;
      border-bottom: 0px;
    }

    &__console {
      grid-area: 4/1/5/3;
    }

    &__steering-panel {
      width: 100%;
      grid-area: 3/3/5/4;
      border-radius: 0;
    }
  }
}

@media (min-width: 576px) {
  .rules-container {
    &__rules {
      width: 98%;
      height: 95%;
    }
  }
}

@media (min-width: 768px) {
  .rules-container {
    &__rules {
      width: 98%;
      height: 60%;
      max-height: 550px;
      max-width: 1024px;
    }
  }
}
